/*General */
html,
body {
  font-family: raleway;
}
.flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.decorationNone {
  text-decoration: none;
}
.bordureSearch {
  border: none;
}
.text1 {
  font-weight: bold;
}
.backgroundColor1 {
  background-color: grey;
}
.backgroundColor2 {
  background-color: blue;
}
.backgroundColor3 {
  background-color: #deebff;
}
.color1 {
  color: grey;
}
.color2 {
  color: blue;
}
.color3 {
  color: #deebff;
}
/* Nav */
.sizeNav {
  height: 100px;
}
.menu-container {
  width: 30%;
}
.menu-items {
  width: 140px;
  height: 99px;
}
.coloritem1 {
  color: blue;
}
.coloritem2 {
  color: grey;
}
.coloritem3 {
  color: black;
}
.bordureNav {
  border-top: 1px solid blue;
}
.bordureNav2 {
  border-top: 1px solid transparent;
}
.marglogo {
  margin-bottom: 7px;
}
/*Section*/
.bordureSearch {
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
}
.paddingSearch {
  padding-left: 20px;
}
.iconMap {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}
.recherche {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.buttonSearch {
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
/*Filtres*/
.filtre {
  display: flex;
  align-items: center;
}
.margFiltre {
  margin-top: 50px;
  margin-bottom: 40px;
}
.margH3 {
  margin-right: 20px;
}
.textIcons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}
.textIcons .flexCentre {
  display: flex;
}
.filtreIcons {
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}
.textIcons:hover > .filtreText {
  color: #0065fc;
}
.textIcons:hover > .filtreIcons {
  color: white;
  background-color: #0065fc;
}
.filtreText {
  margin-left: -2px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}
/* Info Icon */
.info {
  display: flex;
  align-items: center;
}
.formIcon {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
}
/* Hebergements */
.menuHebergements {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* height: 650px; */
  border-radius: 30px;
}
.containerGlobalHebergements {
  display: flex;
  flex: 1;
  margin-left: 2%;
  margin-right: 2%;
  justify-content: space-between;
}
.blocHebergements {
  display: flex;
  justify-content: space-around;
}
.menuPopulaires {
  display: flex;
  flex-direction: column;
  /* height: 650px; */
  border-radius: 30px;
}
.blocPopulaires {
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.star-selected {
  color: blue;
}
.star-neutral {
  color: grey;
}
.styleBloc {
  border-radius: 20px;
  background-color: white;
  padding: 10px 10px 10px 10px;
}
.imageHeb {
  border-radius: 10px 10px 0 0;
}
.h3Bloc {
  font-size: 18px;
  /* margin: 10px 0 10px 0; */
}
.spanNuit {
  font-size: 15px;
  margin: 2% 0;
}
.star {
  margin: 4% 0;
}
.h3MenuPop {
  /* margin: 3px 0 3px 0; */
  padding: 5%;
}
.starPop {
  margin: 20% 0;
}
.imageBlocPop {
  border-radius: 10px 0 0 10px;
}
.textBlocPop {
  /* float: right; */
  /* margin: 0 5px 5px 0; */
  /* padding: 0px 10px 5px; */
}
.styleBlocPop {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: white;
  padding: 5px 5px 5px 5px;
}
.infoPlus {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 10% 0;
  font-weight: bold;
}
.titreAsidePop {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menuGlobalPop {
  display: flex;
  width: 30%;
}
.menuActivites {
  display: flex;
}
.imagesBlocActivites {
  border-radius: 20px 20px 20px 20px;
}
.littleBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.littleBox figure img {
  min-height: 100%;
  min-width: 100%;
}
.h2Activites {
  display: flex;
  margin-left: 3%;
  margin-top: 3%;
}
.h3activites {
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  margin-left: 3%;
}
.footer {
  display: flex;
  justify-content: space-between;
  background-color: grey;
}
