/*General */
html,
body {
  font-family: raleway;
}
.flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.decorationNone {
  text-decoration: none;
}
.bordureSearch {
  border: none;
}
.text1 {
  font-weight: bold;
}
.backgroundColor1 {
  background-color: #f2f2f2;
}
.backgroundColor2 {
  background-color: #0065fc;
}
.backgroundColor3 {
  background-color: #deebff;
}
.color1 {
  color: grey;
}
.color2 {
  color: blue;
}
.color3 {
  color: #deebff;
}
/* Nav */
.sizeNav {
  height: 120px;
}
.logo {
  object-fit: cover;
  width: 100px;
  height: 50px;
  margin-bottom: 7px;
  padding-left: 10px;
}
.menu-container {
  width: 30%;
  padding-left: 20%;
}
.styleNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-items {
  width: 140px;
  height: 99px;
}
.coloritem1 {
  color: blue;
}
.coloritem2 {
  color: grey;
}
.coloritem3 {
  color: black;
}
.bordureNav {
  border-top: 1px solid blue;
}
.bordureNav2 {
  border-top: 1px solid transparent;
}
/*Section*/
.styleSection {
  padding-left: 2%;
}
.bordureSearch {
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
}
.paddingSearch {
  padding-left: 20px;
}
.iconMap {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}
.recherche {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.buttonSearch {
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
/*Filtres*/
.filtre {
  display: flex;
  align-items: center;
}
.margFiltre {
  margin-top: 50px;
  margin-bottom: 40px;
}
.margH3 {
  margin-right: 20px;
}
.textIcons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
}
.textIcons .flexCentre {
  display: flex;
}
.filtreIcons {
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}
.textIcons:hover > .filtreText {
  color: #0065fc;
}
.textIcons:hover > .filtreIcons {
  color: white;
  background-color: #0065fc;
}
.filtreText {
  margin-left: -2px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}
/* Info Icon */
.info {
  display: flex;
  align-items: center;
}
.formIcon {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
}
/* Hebergements */
.containerGlobalHebergements {
  display: flex;
  margin-left: 2%;
  margin-right: 2%;
  justify-content: space-between;
  padding-bottom: 30px;
}
.menuHebergements {
  flex: 0.63;
  flex-direction: column;
  border-radius: 30px;
  padding: 25px;
  width: 100%;
  height: 645px;
}
.blocHebergements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.textHeb {
  font-size: 25px;
}
.star-selected {
  color: blue;
}
.star-neutral {
  color: lightgray;
}
.styleBloc {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  padding: 5px;
  margin: 10px;
  width: 90%;
}
.imgHebergements {
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  width: 100%;
  aspect-ratio: 2;
}
.styleFigcap {
  padding: 0 10px 0 10px;
}
.h3Bloc {
  font-size: 15px;
  margin: 10px 10px 10px 0;
}
.spanNuit {
  font-size: 15px;
  margin: 2% 0;
}
.star {
  margin: 4% 0;
}
.menuGlobalPop {
  display: flex;
  flex: 0.35;
  flex-direction: column;
  border-radius: 30px;
  padding: 30px;
  width: 50%;
  height: 635px;
}
.titreAsidePop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.textBlocPop {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: space-around;
}
.blocPopulaires {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}
.h3MenuPop {
  font-size: 25px;
}
.styleBlocPop {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: white;
  padding: 5px 5px 5px 5px;
  margin-bottom: 15px;
  height: 30%;
}
.imgBlocPop {
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  width: 50%;
  aspect-ratio: 1.2;
}
.infoPlus {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 7%;
  font-weight: bold;
}
/*Activités*/
.menuActivites {
  display: flex;
  width: 100%;
  height: 480px;
  padding-bottom: 20px;
}
.Box1 {
  display: flex;
  box-shadow: -5px 5px 5px 5px lightgray;
  border-radius: 20px 20px 20px 20px;
  width: 25%;
  height: 445px;
  margin: 10px;
}
.littleBox1 {
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  height: 290px;
}
.Box2 {
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
  width: 25%;
  height: 450px;
  margin: 10px;
}
.littleBox2 {
  display: flex;
  flex-direction: column;
  box-shadow: -5px 5px 5px 3px lightgray;
  border-radius: 20px 20px 20px 20px;
  margin: 0 20px 20px 5px;
  width: 100%;
  height: 200px;
}
.imgBlocActivites1 {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 375px;
}
.imgBlocActivites2Size1 {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 180px;
}
.imgBlocActivites2Size2 {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 120px;
}
.littleBox2Size1 {
  block-size: 60%;
}
.littleBox2Size2 {
  block-size: 40%;
}
.h2Activites {
  display: flex;
  margin-left: 20px;
  /* margin-top: 5%; */
}
.h3activites {
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  padding-left: 15px;
}
figure {
  margin: 0;
}
/*Footer*/
.footer {
  display: flex;
  background-color: lightgray;
  padding-left: 5%;
}
.footerItem {
  padding-right: 20%;
}
/*Media queries*/
@media all and (max-width: 992px) {
  #bloc_page {
    width: auto;
  }
  .nav {
    width: auto;
  }
  .menu-container {
    width: 100%;
  }
  .flexBetween {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .marglogo {
    max-width: 100%;
  }
  .menu-container {
    flex-direction: row;
  }
  .h1 {
    flex-direction: wrap;
    /* word-wrap: break-word; */
    margin-top: 5%;
  }
  .filtre {
    flex-direction: column;
    flex-wrap: wrap;
    text-justify: left;
  }
  .info {
    padding-bottom: 3%;
  }
  .menuGlobalPop {
    width: 100%;
    margin-bottom: 5%;
  }
  .blocPopulaires {
    flex-direction: column;
  }
  .imgBlocPop {
    width: 50%;
  }
  .textBlocPop {
    padding-left: 10%;
  }
  .styleBlocPop {
    border-radius: 30px 30px 30px 30px;
  }
  .containerGlobalHebergements {
    flex-direction: column-reverse;
  }
  .menuHebergements {
    width: 100%;
  }
  .imgHebergements {
    width: 100%;
  }
  .blocHebergements {
    flex-direction: column;
    width: 100%;
  }
  .infoPlus {
    padding-left: 7%;
  }
  .menuActivites {
    /* flex: 1; */
    width: 100%;
    flex-direction: column;
    padding-bottom: 5%;
  }
  .h2Activites {
    padding-left: 3%;
    padding-top: 5%;
  }
  .h3activites {
    padding-left: 5%;
  }
  footer {
    flex-direction: column;
  }
}
