/*General */
html,
body {
  font-family: raleway;
}
.flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.decorationNone {
  text-decoration: none;
}
.bordureSearch {
  border: none;
}
.text1 {
  font-weight: bold;
}
.backgroundColor1 {
  background-color: #f2f2f2;
}
.backgroundColor2 {
  background-color: #0065fc;
}
.backgroundColor3 {
  background-color: #deebff;
}
.color1 {
  color: grey;
}
.color2 {
  color: #0065fc;
}
.color3 {
  color: #deebff;
}
/* Nav */
.sizeNav {
  height: 120px;
}
.logo {
  object-fit: cover;
  width: 100px;
  height: 50px;
  margin-bottom: 7px;
  padding-left: 10px;
}
.menu-container {
  width: 30%;
  padding-left: 20%;
}
.styleNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-items {
  width: 140px;
  height: 99px;
}
.menu-items:hover > .coloritem1 {
  color: #0065fc;
}
.menu-items:hover > .coloritem2 {
  color: #0065fc;
}
.coloritem3 {
  color: black;
}
.bordureNav:hover > .coloritem1 {
  color: #0065fc;
  border-top: 1px solid #0065fc;
}
.bordureNav2:hover > .coloritem2 {
  color: #0065fc;
  border-top: 1px solid #0065fc;
}
/*Section*/
.styleSection {
  padding-left: 2%;
}
.bordureSearch {
  width: 400px;
  border-radius: 10px;
  border: 0.1px solid #f2f2f2;
}
.bSearchDesk {
  display: flex;
  justify-content: left;
  align-items: center;
}
.paddingSearch {
  padding-left: 20px;
}
.iconMap {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}
.recherche {
  height: 50px;
  width: 230px;
  font-size: 18px;
  border-radius: 0;
  font-weight: bold;
}
.buttonSearch {
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-style: none;
  border: none;
  border-radius: 0 10px 10px 0;
  background-color: #0065fc;
}
.searchButtonTitle {
  display: block;
  padding-left: 10%;
}
.searchIcon {
  text-indent: 100px;
  white-space: nowrap;
  overflow: hidden;
}
.buttonSearchContainer {
  border-radius: 0 10px 10px 0;
}
/*Filtres*/
.filtre {
  display: flex;
  align-items: center;
}
.margFiltre {
  margin-top: 50px;
  margin-bottom: 40px;
}
.margH3 {
  margin-right: 20px;
}
.textIcons {
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
  font-weight: bold;
}
.textIcons .flexCentre {
  display: flex;
}
.filtreIcons {
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}
.textIcons:hover > .filtreText {
  color: #0065fc;
}
.textIcons:hover > .filtreIcons {
  color: white;
  background-color: #0065fc;
}
.filtreText {
  margin-left: -2px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}
/* Info Icon */
.info {
  display: flex;
  align-items: center;
}
.formIcon {
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
}
/* Hebergements */
.containerGlobalHebergements {
  display: flex;
  margin-left: 1%;
  margin-right: 0.5%;
  justify-content: space-between;
  padding-bottom: 30px;
}
.menuHebergements {
  flex: 0.63;
  flex-direction: column;
  border-radius: 30px;
  padding: 25px;
  width: 100%;
  height: 660px;
}
.blocHebergements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}
.textHeb {
  font-size: 20px;
}
.star-selected {
  color: #0065fc;
}
.star-neutral {
  color: lightgray;
}
.styleBloc {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  padding: 5px;
  margin: 10px;
  width: 100%;
  height: auto;
  cursor: pointer;
  box-shadow: -5px 5px 5px 5px lightgray;
}
.imgHebergements {
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  width: 100%;
  aspect-ratio: 16/7;
}
.styleFigcap {
  padding: 0 10px 0 10px;
}
.h3Bloc {
  font-size: 15px;
  margin: 10px 10px 10px 0;
}
.spanNuit {
  font-size: 15px;
  margin: 2% 0;
}
.star {
  margin: 4% 0;
}
.menuGlobalPop {
  display: flex;
  flex: 0.35;
  flex-direction: column;
  border-radius: 30px;
  padding: 30px;
  width: 50%;
  height: 650px;
}
.titreAsidePop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.textBlocPop {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  justify-content: space-around;
}
.blocPopulaires {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 30px;
}
.h3MenuPop {
  font-size: 20px;
}
.styleBlocPop {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: white;
  padding: 5px 5px 5px 5px;
  margin-bottom: 30px;
  width: 100%;
  height: 150px;
  cursor: pointer;
}
.imgBlocPop {
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  width: 50%;
  aspect-ratio: 6/5;
}
.infoPlus {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 3%;
  font-weight: bold;
}
/*Activités*/
.menuActivites {
  display: flex;
  width: 100%;
  height: 480px;
  padding-bottom: 20px;
}
.Box1 {
  display: flex;
  box-shadow: -5px 5px 5px 5px #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  width: 25%;
  height: 445px;
  margin: 10px;
}
.littleBox1 {
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
  width: 100%;
  height: 290px;
  cursor: pointer;
}
.Box2 {
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
  width: 25%;
  height: 450px;
  margin: 10px;
}
.littleBox2 {
  display: flex;
  flex-direction: column;
  box-shadow: -5px 5px 5px 3px #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  margin: 0 20px 20px 5px;
  width: 100%;
  height: 200px;
  cursor: pointer;
}
.imgBlocActivites1 {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 375px;
}
.imgBlocActivites2Size1 {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 180px;
}
.imgBlocActivites2Size2 {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 120px;
}
.littleBox2Size1 {
  block-size: 60%;
}
.littleBox2Size2 {
  block-size: 40%;
}
.h2Activites {
  display: flex;
  margin-left: 20px;
}
.h3activites {
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  padding-left: 15px;
}
figure {
  margin: 0;
}
/*Footer*/
.footerStyle {
  display: flex;
  background-color: #f2f2f2;
  padding-left: 5%;
}
.footerItem {
  padding-right: 20%;
}
/*Media queries*/
/*Pour les ordinateurs*/
@media all and (min-width: 992px) {
  #bloc_page {
    width: auto;
  }
}
/*Pour les tablettes*/
@media all and (min-width: 769px) and (max-width: 991px) and (orientation: portrait) {
  #bloc_page {
    width: auto;
  }
  .body {
    width: 100%;
  }
  .sizeNav {
    padding-left: 3%;
  }
  .menu-container {
    width: auto;
    padding-left: 10px;
    justify-content: space-around;
    align-items: center;
  }
  .styleSection {
    padding: 3% 0 0 5%;
  }
  .filtre {
    flex-direction: column;
    align-items: start;
  }
  .margFiltre {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .textIcons {
    height: 50px;
    width: 30%;
    align-items: flex-start;
  }
  .flexBetween .textIcons {
    justify-content: space-around;
    align-items: flex-start;
  }
  .flexBetween .filtre {
    margin-bottom: 2%;
  }
  .containerGlobalHebergements {
    flex-direction: column-reverse;
    width: auto;
    margin: 5px;
  }
  .menuGlobalPop {
    width: auto;
    padding: 1%;
    margin: 0;
  }
  .titreAsidePop {
    padding: 3%;
  }
  .blocPopulaires {
    width: auto;
    padding: 0 2% 0 2%;
    justify-content: center;
  }
  .styleBlocPop {
    width: 100%;
    height: 200px;
    border-radius: 30px;
  }
  .imgBlocPop {
    border-radius: 30px 0 0 30px;
  }
  .textBlocPop {
    padding-left: 5%;
  }
  .menuHebergements {
    width: auto;
    padding: 0;
    margin-top: 30px;
  }
  .textHeb {
    margin-right: 20px;
    padding-left: 7%;
  }
  .blocHebergements {
    width: auto;
    margin: 0;
  }
  .styleBloc {
    width: 95%;
    height: 300px;
    box-shadow: 0px 0px 5px 5px #f2f2f2;
    border-radius: 30px;
    padding-bottom: 10px;
  }
  .imgHebergements {
    aspect-ratio: 7/2;
    border-radius: 30px 30px 0 0;
  }
  .star {
    margin: 2% 0 0 0;
  }
  .infoPlus {
    font-size: 20px;
  }
  .h2Activites {
    padding-left: 7%;
  }
  .menuActivites {
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-left: 10px;
  }
  .Box1 {
    width: auto;
    height: 250px;
  }
  .littleBox1 {
    width: 100%;
    height: auto;
  }
  .imgBlocActivites1 {
    border-radius: 20px 20px 0 0;
    height: 190px;
  }
  .Box2 {
    width: auto;
    height: 500px;
  }
  .littleBox2Size1 {
    block-size: 50%;
  }
  .littleBox2Size2 {
    block-size: 50%;
  }
  .imgBlocActivites2Size2 {
    height: 190px;
  }
}
/*pour les smartphones*/
@media all and (max-width: 768px) {
  #bloc_page {
    width: auto;
  }
  .body {
    width: auto;
    height: auto;
  }
  .nav {
    width: auto;
  }
  .sizeNav {
    height: 70px;
  }
  .flexBetween {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .headerForm {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .bordureSearch {
    width: 100%;
  }
  .iconMap {
    width: 50px;
    height: 50px;
  }
  .paddingSearch {
    padding-left: 0;
  }
  .styleBordureSearch {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .recherche {
    align-items: center;
    border-radius: 0;
    padding-left: 20px;
    border-left: hidden;
    border-right: hidden;
    width: 100%;
  }
  .buttonSearch {
    border: none;
    width: 50px;
  }
  .searchIcon {
    display: block;
    text-indent: 0;
    white-space: normal;
    overflow: visible;
  }
  .searchButtonTitle {
    display: none;
  }
  .styleSection {
    margin-top: 100px;
    padding-right: 5%;
    padding-left: 5%;
  }
  .menu-container {
    width: auto;
    height: 100px;
    margin-bottom: 0;
  }
  .menu-items {
    height: 70px;
  }
  .marglogo {
    max-width: 100%;
  }
  .menu-container {
    flex-direction: row;
    padding-left: 0;
    width: auto;
    margin-bottom: 5%;
  }
  .bordureNav {
    border-top: 1px solid transparent;
    border-bottom: 3px solid #0065fc;
  }
  .bordureNav2 {
    border-bottom: 3px solid lightgray;
  }
  .h1 {
    flex-wrap: wrap;
    margin-top: 5%;
    font-size: 18px;
  }
  .p {
    width: auto;
  }
  .filtre {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .margFiltre {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .textIcons {
    height: 50px;
    width: auto;
    align-items: flex-start;
  }
  .filtreText {
    padding-left: 10px;
    padding-right: 10px;
  }
  .flexBetween .textIcons {
    justify-content: space-around;
    align-items: flex-start;
  }
  .flexBetween {
    margin-bottom: 10px;
  }
  .info {
    padding-bottom: 3%;
  }
  .menuGlobalPop {
    width: auto;
    padding: 5% 7% 0 5%;
  }
  .blocPopulaires {
    flex-direction: column;
    width: auto;
  }
  .imgBlocPop {
    width: 50%;
    border-radius: 30px 0 0 30px;
  }
  .textBlocPop {
    padding-left: 10%;
  }
  .styleBlocPop {
    border-radius: 30px 30px 30px 30px;
    width: 100%;
    height: 160px;
  }
  .containerGlobalHebergements {
    flex-direction: column-reverse;
  }
  .menuHebergements {
    width: auto;
    background-color: white;
    padding: 20px 0 0 0;
  }
  .textHeb {
    margin-left: 5%;
  }
  .blocHebergements {
    flex-direction: column;
    width: auto;
    margin-bottom: 5px;
  }
  .styleBloc {
    width: auto;
    box-shadow: 2px 2px 2px 2px #f2f2f2;
    border-radius: 30px;
    padding: 5px 5px 0 5px;
    height: 250px;
    cursor: pointer;
  }
  .imgHebergements {
    width: 100%;
    height: 170px;
    border-radius: 30px 30px 0 0;
  }
  .h3Bloc {
    margin: 5px 5px 5px 0;
  }
  .star {
    margin: 5px 0 0 0;
  }
  .infoPlus {
    padding-left: 7%;
  }
  .h2Activites {
    padding-left: 3%;
  }
  .menuActivites {
    width: auto;
    height: auto;
    flex-direction: column;
    padding: 0 0 20px 0;
  }
  .Box1 {
    width: auto;
    height: 220px;
  }
  .littleBox1 {
    width: 100%;
    height: 110px;
  }
  .imgBlocActivites1 {
    width: 100%;
    height: 150px;
  }
  .figure {
    margin: 0;
  }
  .Box2 {
    width: auto;
    height: 440px;
  }
  .littleBox2 {
    width: 100%;
    height: 300px;
  }
  .littleBox2Size1 {
    block-size: 50%;
  }
  .littleBox2Size2 {
    block-size: 50%;
  }
  .imgBlocActivites2Size1 {
    width: 100%;
    height: 150px;
  }
  .imgBlocActivites2Size2 {
    width: 100%;
    height: 150px;
  }
  footer {
    flex-direction: column;
  }
}
